@import 'fonts';
@import 'helpers/variables';
@import 'helpers/mixins.scss';
@import './normalize';
@import './base';
//TODO: double quotes, base fz
.container {
  max-width: 1234px;
  padding: 0 7%;
  margin: 0 auto;
}
@import 'components/modal.scss';
@import 'components/header';
@import 'components/main';
@import 'components/footer';
