@import 'fonts';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins.scss';
@import './normalize';
@import './base';

.container {
  max-width: 1234px;
  padding: 0 20px;
  margin: 0 auto;
}

.banner {
  display: block;
  position: relative;
  width: 100%;
  min-height: 560px;
  background-image: url(../images/hbackground-mobile.jpg);
  background-size: cover;
}

.site-navigation {
  display: flex;
  font-family: $second-font-stack;
  justify-content: space-between;
  padding-top: 10px;
}

.checkbox {
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  right: 0;
  transform: translateX(-20px);
  border: none;
  width: 29px;
  height: 20px;
}

.checkbox__menu {
  width: 29px;
  height: 4px;
  background-color: #fff;
}

.checkbox__menu:not(:last-child) {
  margin-bottom: 4px;
}

.site-navigation__list {
  display: none;
  list-style: none;
}

.header-button {
  display: none;
}

.banner-title {
  position: relative;
  font-family: $second-font-stack;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 275px;
}

.title {
  font-size: 35px;
}

.banner-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 281px;
  height: 55px;
  background-color: rgba(22, 24, 32, 0.68);
  font-size: 16px;
  padding-top: 10px;
}

.banner-info a {
  font-family: $main-font-stack;
  font-weight: 700;
  text-decoration: none;
  color: #d49e37;
  cursor: pointer;
}

.scroll {
  position: absolute;
  transform: rotate(90deg);
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 36px;
  bottom: 50px;
}

//SECTION company
.company {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.company::before {
  content: '\201C';
  display: block;
  font-family: $proxima-font;
  color: $main-accent-color;
  font-size: 60px;
  line-height: 40px;
}

.company__image {
  margin-top: 20px;
  width: 280px;
  height: 320px;
  border-radius: 10px;
  background-image: url(../images/kids.jpg);
  background-size: cover;
}

.company__text p {
  font-family: $main-font-stack;
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.company_text p:last-child {
  margin-top: 10px;
}

.company_description {
  background-color: #7550de;
  display: block;
  max-width: 100%;
  height: 230px;
  margin-top: 42px;
  text-align: center;
}

.company_description p {
  font-family: $main-font-stack;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.company_description p:before {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: $main-accent-color;
  margin: 0 auto;
}
