@import 'fonts';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins.scss';
@import './normalize';
@import './base';

.banner {
  display: block;
  position: relative;
  width: 100%;
  min-height: 560px;
  background-image: url(../images/hbackground-mobile.jpg);
  background-size: cover;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation__list {
  display: none;
  list-style: none;
}

section {
}

.container {
  max-width: 1234px;
  padding: 0 20px;
  margin: 0 auto;
}

.company {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.company::after {
  content: "\201C";
  display: block;
  font-family: $proxima-font;
  color: $main-accent-color;
  font-size: 60px;
  line-height: 40px;
}

.company__image  {
  margin-top: 20px;
  width: 280px;
  height: 320px;
  border-radius: 10px;
  background-image: url(../images/kids.jpg);
  background-size: cover;
}

.company__text p{
  font-family: $main-font-stack;
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.company_text p:last-child{
  margin-top: 10px;
}

.company__description{
  background-color: #7550de;
}



