header {
  position: relative;
}

.banner {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 131px;
  background-image: url(../images/hbackground-mobile.jpg);
  background-size: cover;
}

.banner-menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 10px;
}

.burger {
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  right: 0;
  transform: translateX(-20px);
  border: none;
  width: 29px;
  height: 20px;
}

.burger__menu {
  width: 29px;
  height: 4px;
  background-color: #fff;
}

.burger__menu:not(:last-child) {
  margin-bottom: 4px;
}

.site-navigation__list {
  display: none;
  list-style: none;
  text-align: center;
}

.site-navigation__item {
  text-decoration: none;
  font-family: $main-font-stack;
  font-weight: 900;
  font-size: 25px;
  line-height: 60px;
  color: #ffffff;
}

.header-button {
  max-width: 192px;
  height: 43px;
  font-size: 16px;
  font-family: $second-font-stack;
  color: #f6f9fa;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  background-color: #e9ac38;
}

.mission {
  position: relative;
  font-family: $second-font-stack;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 285px;
}

.title {
  font-size: 35px;
}

.mission__info {
  margin: 0 auto;
  width: 281px;
  height: 55px;
  background-color: rgba(22, 24, 32, 0.68);
  font-size: 16px;
  padding-top: 10px;
}

.mission__info a {
  font-family: $main-font-stack;
  font-weight: 700;
  text-decoration: none;
  color: #d49e37;
  cursor: pointer;
}

.scroll {
  position: absolute;
  transform: rotate(90deg);
  left: 50%;
  color: #ffffff;
  font-size: 36px;
  bottom: 10px;
}

@media (min-width: 768px) {
  .banner {
    background-image: url('../images/background-tablet.jpg');
    padding-bottom: 85px;
  }
}

@media (min-width: 1024px) {
  .banner {
    background-image: url('../images/background-desktop.jpg');
    padding-bottom: 129px;
  }

  .scroll {
    display: none;
  }

  .mission {
    &__title {
      text-align: left;
      font-size: 65px;
      margin: 10px;
    }

    &__info {
      transform: translate(0);
      position: static;
      margin: 0 0 0 10px;

      p {
        border-left: 1px solid $main-accent-color;
      }
    }
  }

  .burger {
    display: none;
  }

  .site-logo {
    margin-left: 22px;
    margin-top: 12px;
  }

  .site-navigation {
    display: flex;
  }

  .site-navigation__list {
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
  }

  .site-navigation__item {
    font-size: 16px;
    margin: 0 20px;
    padding-bottom: 7px;
  }

  .site-navigation__item:hover,
  .site-navigation__item:focus {
    border-bottom: 2px solid $main-accent-color;
  }
  .header-button {
    font-size: 14px;
    margin-top: 11px;
  }
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: url('../images/background@2x.jpg');
  }
}
