.banner {
  display: block;
  position: relative;
  width: 100%;
  min-height: 560px;
  background-image: url(../images/hbackground-mobile.jpg);
  background-size: cover;
}

.banner-menu {
  display: flex;
  position: relative;
  font-family: $second-font-stack;
  justify-content: space-between;
  padding-top: 10px;
}

.burger {
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  right: 0;
  transform: translateX(-20px);
  border: none;
  width: 29px;
  height: 20px;
}

// .burger-menu {
//   display: flex;
//   position: relative;
//   font-family: $second-font-stack;
//   justify-content: space-between;
//   padding-top: 10px;
// }

.burger__menu {
  width: 29px;
  height: 4px;
  background-color: #fff;
}

.burger__menu:not(:last-child) {
  margin-bottom: 4px;
}

.site-navigation {
  display: none;
}

.site-navigation__list {
  display: block;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  position: absolute;
  text-align: center;
}

.site-navigation__item {
  text-decoration: none;
  font-family: $main-font-stack;
  font-weight: 900;
  font-size: 25px;
  line-height: 60px;
  color: #ffffff;
}

.header-button {
  width: 192px;
  height: 43px;
  font-size: 16px;
  font-family: $second-font-stack;
  color: #f6f9fa;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  background-color: #e9ac38;
}

.banner-title {
  position: relative;
  font-family: $second-font-stack;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 275px;
}

.title {
  font-size: 35px;
}

.banner-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 281px;
  height: 55px;
  background-color: rgba(22, 24, 32, 0.68);
  font-size: 16px;
  padding-top: 10px;
}

.banner-info a {
  font-family: $main-font-stack;
  font-weight: 700;
  text-decoration: none;
  color: #d49e37;
  cursor: pointer;
}

.scroll {
  position: absolute;
  transform: rotate(90deg);
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 36px;
  bottom: 50px;
}
