//SECTION company
.company {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &__image {
    margin-top: 20px;
  }

  &__quotes {
    position: relative;

    &::before {
      content: '\201C';
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      color: $main-accent-color;
      font-size: 60px;
      line-height: 1.2;
      position: absolute;
      top: -40px;
    }
  }

  &__text p {
    font-family: $main-font-stack;
    color: #464646;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
  }

  &__text p:last-child {
    margin-top: 10px;
  }
}
//goit section
.goit_description {
  background-color: #7550de;
  display: block;
  max-width: 100%;
  padding: 10px;
  margin-top: 42px;
  border-radius: 10px;
  border: 1px solid transparent;

  & p {
    font-family: $main-font-stack;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    padding: 0 15px 0 19px;
    text-align: center;
  }

  & p:before {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: $main-accent-color;
    margin: 10px auto;
  }
}

//section
.section__title {
  margin-top: 60px;
  display: flex;
  justify-content: flex-start;
}

.section__title-icon {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: $main-accent-color;
  background-image: url('../images/icon-fields.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.section__title-text {
  font-family: $second-font-stack;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 10px;
}

//fields section
.fields {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.fields__item {
  border-radius: 10px;
  padding-left: 46px;
  padding-right: 20px;
  padding-bottom: 23px;
  flex: 0 0 256px;
}

.fields__item-title {
  margin-top: 26px;
  font-family: $main-font-stack;
  font-weight: 700;
  font-size: 25px;
  color: #272727;
}

.fields__item-description {
  margin-top: 30px;
  font-family: $main-font-stack;
  font-weight: 400;
  font-size: 16px;
  color: #272727;
}

.fields__item-price {
  margin-top: 40px;
  font-family: $second-font-stack;
  font-weight: 700;
  font-size: 30px;
  color: $main-accent-color;
  position: relative;
}

.fields__item-price::after {
  content: 'років';
  font-size: 13px;
  position: absolute;
  top: -10px;
  text-decoration: underline;
}

.fields__item-arrow {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: $main-accent-color;
}

.fields__item:hover {
  background-color: $main-accent-color;

  .fields__item-description,
  .fields__item-price,
  .fields__item-arrow {
    color: #fff;
  }
}

//section services

.services {
  display: flex;
  flex-wrap: wrap;

  &__item {
    border-radius: 10px;
    flex-basis: 280px;
    padding: 0px 23px 0px 46px;
  }

  &__description {
    margin-top: 16px;
    font-family: $main-font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #464646;
  }
}

.services__logo {
  margin-top: 30px;

  &::before {
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: 30px;
  }

  &-globe::before {
    background-color: rgba(251, 238, 215, 0.7);
  }

  &-hands::before {
    background-color: rgba(248, 224, 215, 0.7);
  }

  &-hi::before {
    background-color: rgba(227, 220, 248, 0.7);
  }

  &-money::before {
    background-color: rgba(223, 238, 236, 0.7);
  }

  &-hands::before {
    background-color: rgba(248, 224, 215, 0.7);
  }

  &-pencil::before {
    background-color: rgba(227, 220, 248, 0.7);
  }

  &-file::before {
    background-color: rgba(248, 224, 215, 0.7);
  }

  &-aim::before {
    background-color: rgba(251, 238, 215, 0.7);
  }
}

$icons: globe, hands, hi, money, pencil, file, aim;

@include generate-pseudo-icons(
  'services__logo-',
  $icons,
  '../images/services/services-',
  png
);

//structure section

.structure {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;

  &__item {
    flex-basis: 280px;
    margin-top: 20px;
    padding: 20px;
    height: 258px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);
  }

  &__item:hover {
    filter: brightness(105%);
  }

  &__title {
    font-family: $main-font-stack;
    font-weight: 700;
    font-size: 25px;
  }

  &__description {
    font-family: $main-font-stack;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #464646;
    margin-top: 20px;
  }

  &__item-tech {
    background-color: #f6ead0;
  }

  &__item-soft {
    background-color: #fbdcd2;
  }

  &__item-it {
    background-color: #e2d8f5;
  }

  &__item-hack {
    background-color: #c8eae8;
  }
}

.structure__item-dash {
  border: 1px dashed #fff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
  height: 227px;
}

// TABLET
@media screen and (min-width: 768px) {
  @media screen and (min-width: 1024px) {
    .container {
      padding: 0 2%;
    }
  }

  .company {
    &__text p {
      font-size: 20px;

      &::before {
        left: -28px;
      }
    }
  }

  .section {
    &__title-text {
      font-size: 30px;
    }
  }

  .goit_description {
    height: 184px;
    padding: 40px;

    & p {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      text-align: left;
      border-left: 5px $main-accent-color solid;
    }

    & p::before {
      display: none;
    }
  }

  .fields {
    &__item {
      padding-left: 27px;
      flex: 0 0 307px;
    }

    &__item-title {
      font-size: 30px;
    }

    &__item-price {
      font-size: 40px;
    }
  }

  .services {
    &__logo::before {
      width: 70px;
      height: 70px;
    }

    &__description {
      font-size: 16px;
    }
  }

  .structure {
    justify-content: space-between;

    &__item {
      flex-basis: 300px;
      height: 294px;
    }

    &__item-dash {
      padding: 30px;
    }
  }
}

// DESKTOP
@media screen and (min-width: 1024px) {
  .company {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__image {
      margin-top: 0;
      flex-basis: 500px;
    }

    &__text {
      @include center-flex();
      flex-direction: column;
      flex-basis: 400px;
    }
  }

  .goit_description {
    & p {
      font-size: 25px;
    }
  }
}

// DESKTOP XL
@media screen and (min-width: 1234px) {
  .container {
    padding: 0;
  }

  .company {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__image {
      margin-top: 0;
      flex-basis: 650px;
    }

    &__text {
      @include center-flex();
      flex-direction: column;
      flex-basis: 500px;
    }
  }

  .goit_description {
    & p {
      font-size: 25px;
    }
  }
}
